# **INTEGER**

In [ ]:
A="20"
B="20"

#for A+B it will add both of them as string i.e 2020 so,
print(int(A)+int(B))

40

# **FLOAT**

In [ ]:
# Convert an integer to a float
num1 = float(10)
print(num1)

# Convert a string to a float
num2 = float("12.34")
print(num2)

# Convert a negative number to a float
num3 = float("-5")
print(num3)

10.0
12.34
-5.0

# **String**

In [ ]:
str1=("Hello !! welcome to our project , ")
str2=("Thank you to your time")

print(str1+str2)

Hello !! welcome to our project , Thank you to your time

# **List**

In [ ]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]

print(list1+list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# **Tuple**

In [ ]:
tuple_variable = {"name":"john","age":25}

# **Complex**

In [ ]:
num1 = complex(3, 4)
print(num1)

(3+4j)

# **Set**

In [ ]:
fruits = {"apple", "banana", "cherry"}
print(fruits)

{'banana', 'apple', 'cherry'}

# **Dictionary**

In [ ]:
student = {
    "name": "Alice",
    "age": 20,
    "grade": "A"
}

# **Boolean**

In [ ]:
a = True
b = False
print(a)
print(b)

print(bool(1))

True
False
True